<ul class="nav flex-column bg-light-blue">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account') }}">Mes commandes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_addresses') }}">Mes addresses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{path('app_account_password') }}">Modifier MdP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{path('app_logout') }}">Se déconnecter</a>
    </li>
</ul>