{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 my-5">
            <h1>Register</h1>
            {{ form(registerForm) }}
        </div>

        Vous avez dejà un compte ? <a href="{{ path('app_login') }}"> Connectez vous</a>
    </div>
</div>

{% endblock %}